.game-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-board {
  display: flex;
  flex-direction: row;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.gameid {
  width: 100%;
  display: flex;
  gap: 10px;
}